#wrapper {
	background: grey;
	display: flex;
	height: 100px;
	width: 100%;
}

#sidebar {
	background: grey;

	display: flex;
	width: 30%;
}

#content {
	background: green;
	display: flex;
	width: 70%;
}
